# Güvenlik ve Anahtarlar
.env
vision_key.json
*.pem

# Bağımlılıklar
node_modules/

# Derleme Çıktıları
dist/
build/
.cache/

# Yüklemeler 
server/uploads/covers/*
!server/uploads/covers/.gitkeep

# Python 
__pycache__/
*.pyc
venv/

# Sistem Dosyaları
.DS_Store
Thumbs.db